.boxsearch:not(#hfsc-searchbox) 
.search-title,
.navbar-nav li:last-child {
    display:none
}

.bgoverlay {
    opacity: 0.4;
}

.searchbg {
    background: url('https://prdintstocu01.blob.core.windows.net/images/happyfox/happyfox-support-header.png');
}

.btn-search {
    background-color: #595655;
}

.btn-primary {
    background: #7EC4C1;
    border-color: #7EC4C1
}

.btn-primary:hover,
.btn-primary:focus {
    background: transparent;
    border-color: #7EC4C1;
    color: #7EC4C1 !important
}

.login_form .forgot_link:hover,
.login_form .forgot_link:focus {
    color: #7EC4C1
}

.ppk-intro {
    margin: 30px 0;
    padding: 13px 25px 23px;
    background: #f7f7f7
}

.ppk-intro h2 {
    font-size: 25px;
    color: #f90c2b;
    font-weight: 700
}

.ppk-intro h3 {
    font-size: 18px
}

.ppk-intro p {
    font-size: 15px;
    line-height: 1.4
}

.ppk-intro p:nth-of-type(3) {
    margin-bottom: 30px
}

.ppk-intro a {
    text-decoration: underline
}

.ppk-intro a:hover,
.ppk-intro a:focus {
    text-decoration: none
}

.metabox li:first-of-type, 
.social_meta li:nth-of-type(2){ 
    display: none;
}